@use "../../fundation/font";
@use "../../fundation/color";

// セクションタイトル
.c-section-heading{
    display: inline-block;
    padding-bottom: 65px;
    padding-left: 50px;
    background-image: url(../image/h2-rounds-blue.svg);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

    &__japanese{
        font-family: font.$noto-sans;
        font-size: 22px;
        font-weight: 500;
        text-align: end;
        line-height: 1;
        margin-bottom: 20px;
    }

    &__english{
        font-size: 72px;
        font-weight: bold;
        letter-spacing: .01em;
        line-height: 1;
    }

    &--yellow{
        background-image: url(../image/h2-rounds-yellow.svg);
    }

    &--red{
        background-image: url(../image/h2-rounds-red.svg);
    }

    &--green{
        background-image: url(../image/h2-rounds-green.svg);
    }

    &--blue-paler{
        background-image: url(../image/h2-rounds-blue-paler.svg);
    }
}