@use "../../fundation/font";
@use "../../fundation/color";
@use "../../fundation/mixin";

// セクションタイトル
.c-section-heading{
    display: inline-block;
    padding-bottom: clamp(50px,4.7vw,65px);
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../image/h2-rounds-blue.svg);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

    @include mixin.mq() {
        padding-bottom: 60px;
        padding-right: 120px;
        padding-top: 30px;
        padding-left: max(7vw,35px);
    }

    &__japanese{
        font-family: font.$noto-sans;
        font-size: clamp(16px,2vw,22px);
        font-weight: 500;
        text-align: end;
        line-height: 1;
        margin-bottom: 20px;

        @include mixin.mq() {
            margin-bottom: 5px;
        }
    }

    &__english{
        font-size: clamp(40px,6vw,72px);
        font-weight: bold;
        letter-spacing: .01em;
        line-height: 1;

        @include mixin.mq() {
            font-size: min(8.5vw,46px);
        }
    }

    &--yellow{
        background-image: url(../image/h2-rounds-yellow.svg);
    }

    &--red{
        background-image: url(../image/h2-rounds-red.svg);
    }

    &--green{
        background-image: url(../image/h2-rounds-green.svg);
    }

    &--blue-paler{
        background-image: url(../image/h2-rounds-blue-paler.svg);
    }
}