@use "../../fundation/font";
@use "../../fundation/color";
@use "../../fundation/mixin";

// MV
.p-about-mv{
    display: flex;
    align-items: flex-end;
    background-image: url(../image/works-mv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 1267/586;
    margin-bottom: clamp(70px,8.3vw,115px);

    @include mixin.mq() {
        aspect-ratio: 1/1;
        width: 100%;
        max-height: 620px;
        background-size: cover;
        margin-bottom: min(30vw,120px);
    }

    &__heading{
        display: inline-block;
        font-size: 5.5vw;
        font-weight: bold;
        color: color.$c-gray;
        background-color: rgba(255, 255, 255, 0.92);
        line-height: 1.2;
        padding: 0 .5em;
        margin-left: 55px;
        margin-bottom: clamp(30px,4vw,55px);

        @include mixin.mq() {
            font-size: max(7.5vw,36px); 
            margin-left: 3.5vw;
        }

        &::first-letter{
            color: color.$c-base;
        }
    }
}

// PROFILE
.p-about-profile{
    padding-bottom: clamp(70px,8.6vw,120px);
    margin-bottom: clamp(55px,7.2vw,100px);
    border-bottom: 4px dashed color.$c-white;

    @include mixin.mq() {
        padding-bottom: min(20vw,100px);
        margin-bottom: min(13vw,80px);
    }

    &__card{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        margin-top: 65px;
        min-width: 620px;

        @include mixin.mq() {
            min-width: unset;
            width: 100%;
            align-items: center;
        }

        &-image{
            width: 35%;
            object-fit: contain;

            @include mixin.mq() {
                width: 63%;
                max-width: 320px;
                margin-bottom: 5.3vw;
            }
        }

        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mixin.mq() {
                width: 100%;
            }
        }

        &-heading{
            font-size: clamp(40px,4.5vw,62px);
            line-height: 1.2;
            padding-right: .5em;
            letter-spacing: .01em;
            font-weight: bold;background-image: linear-gradient(rgba(0 0 0/0) 75%, color.$c-green 50%);

            @include mixin.mq() {
                font-size: min(7.5vw,42px);
                text-align: center;
                padding-right: unset;
                width: min(72vw,450px);
                margin: 0 auto;
                margin-bottom: min(8.2vw,36px);
            }
        }

        &-text{
            font-family: font.$noto-sans;
            font-size: clamp(14px,1.5vw,20px);
            letter-spacing: .02em;
            line-height: 1.9;

            @include mixin.mq() {
                white-space: unset;
                font-size: min(4vw,18px);
                line-height: 1.73;
                width: min(90vw,500px);
                margin: 0 auto;
            }
        }
    }
}

// MOTTO
.p-about-motto{
    padding-bottom: clamp(55px,7.2vw,100px);
    margin-bottom: clamp(55px,7.2vw,100px);
    border-bottom: 4px dashed color.$c-white;

    @include mixin.mq() {
        padding-bottom: min(21vw,120px);
    }

    &__container{
        display: flex;
        justify-content: space-between;
        margin-top: clamp(30px,4vw,55px);

        @include mixin.mq() {
            width: 79vw;
            margin-left: auto;
            margin-right: auto;
            max-width: 480px;
            margin-top: 12vw;
        }
    }

    &__card{
        width: 30%;
        min-width: 188px;

        @include mixin.mq() {
            width: 100%;
            margin-bottom: 7.2vw;
        }

        &:last-child{
            @include mixin.mq() {
                margin-bottom: unset;
            }
        }

        &-heading{
            display: flex;
            align-items: center;
            margin-bottom: clamp(28px,2.9vw,40px);

            @include mixin.mq() {
                margin-bottom: min(3vw,20px);
            }
        }

        &-number{
            font-family: font.$helvetica;
            font-size: clamp(20px,2vw,27px);
            font-weight: bold;
            line-height: 1;
            background-color: color.$c-white;
            color: color.$c-base;
            padding: 10px;

            @include mixin.mq() {
                font-size: min(5.7vw,32px);
                padding: .3em;
            }
        }

        &-title{
            font-family: font.$noto-sans;
            font-size: clamp(25px,2.2vw,30px);
            font-weight: bold;
            margin-left: .9em;

            @include mixin.mq() {
                font-size: min(7vw,32px);
            }
        }

        &-image{
            margin-bottom: clamp(28px,2.9vw,40px);

            @include mixin.mq() {
                width: 100%;
                height: max(45vw,220px);
                object-fit: cover;
                margin-bottom: min(4vw,22px);
            }

            &--red{
                border: 8px solid color.$c-red;
            }
            &--yellow{
                border: 8px solid color.$c-yellow;
            }
            &--blue{
                border: 8px solid color.$c-blue-paler;
            }
        }

        &-text{
            font-family: font.$noto-sans;
            font-size: clamp(14px,1.2vw,16px);
            letter-spacing: .02em;
            line-height: 2;
            text-align: justify;

            @include mixin.mq() {
                line-height: 1.75;
                font-size: min(3.7vw,18px);
            }
        }
    }
}

// CAREER
.p-about-career{
    padding-bottom: clamp(140px,14.3vw,200px);

    @include mixin.mq() {
        padding-bottom: min(29vw, 156px);
    }

    &__container{
        margin-top: clamp(40px,5.1vw,70px);
    }

    &__box{
        display: flex;
        margin-bottom: clamp(50px,4.7vw,65px);

        @include mixin.mq() {
            margin-bottom: 7vw;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__year{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: font.$helvetica;
        font-size: clamp(18px,1.6vw,22px);
        font-weight: bold;
        color: color.$c-blue-paler;
        background-color: color.$c-white;
        width: clamp(56px,4.9vw,68px);
        height: clamp(56px,4.9vw,68px);
        border: 3px solid color.$c-blue-paler;
        position: relative;

        @include mixin.mq() {
            font-size: min(3.5vw,16px);
            width: min(11vw,52px);
            height: min(10.4vw, 50px);
        }

        &--yellow{
            font-size: clamp(12px,1.2vw,16px);
            border-color: color.$c-yellow;
            color: color.$c-yellow;

            @include mixin.mq() {
                font-size: min(2vw,13px);
            }
        }

        &::after{
            position: absolute;
            content: "";
            border-bottom: 2px solid color.$c-white;
            width: 26%;
            top: 50%;
            left: 100%;
            z-index: -1;

            @include mixin.mq() {
                content: unset;
            }
        }
    }

    &__inner{
        margin-left: clamp(40px,5vw,70px);
        width: 82%;

        @include mixin.mq() {
            margin-left: 3vw;
            width: 100%;
        }
    }

    &__box-heading{
        display: inline-block;
        font-family: font.$noto-sans;
        font-size: clamp(25px,2.3vw,32px);
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: clamp(22px,1.8vw,25px);

        @include mixin.mq() {
            font-size: min(5vw,28px);
            margin-bottom: min(3.5vw,24px);
        }

        span{
            background-image: linear-gradient(rgba(0 0 0/0) 75%, color.$c-blue-paler 0%);

            @include mixin.mq() {
                padding: unset;
                white-space: nowrap;
            }

            &:first-child{
                padding-left: .5em;
            }

            &:last-child{
                padding-right: .5em;
            }
        }

        &--yellow{
            span{
                background-image: linear-gradient(rgba(0 0 0/0) 75%, color.$c-yellow 0%);
            }
        }
    }

    &__box-text{
        font-family: font.$noto-sans;
        line-height: 1.78;
        letter-spacing: .02em;
        text-align: justify;
        font-size: clamp(15px,1.3vw,18px);

        @include mixin.mq() {
            line-height: 1.5;
            font-size: min(4vw,16px);
        }
    }

    &__award{
        display: flex;
        margin-top: clamp(16px,1.8vw,25px);

        @include mixin.mq() {
            margin-top: 3.2vw;
        }

        &-heading{
            font-family: font.$noto-sans;
            font-size: clamp(16px,1.6vw,22px);
            font-weight: bold;
            margin-right: clamp(20px,3.3vw,45px);
            padding-left: 14px;
            height: fit-content;
            position: relative;
            min-width: 65px;

            &::before{
                position: absolute;
                content: "";
                border-left: 4px solid color.$c-yellow;
                height: 1.4em;
                left: 0;
                top: 50%;
                transform: translateY(-45%);
            }
        }

        &-text{
            font-family: font.$noto-sans;
            letter-spacing: .02em;
            line-height: 1.78;
            margin-top: .3em;
            font-size: clamp(15px,1.3vw,18px);

            @include mixin.mq() {
                font-size: min(3.5vw,15px);
            }
        }
    }
}