@use "../../fundation/font";
@use "../../fundation/color";

// 共通化パーツ
// 共通化-セクション
%p-index-section{
    position: relative;
    padding-top: 70px;

    &::before{
        position: absolute;
        content: "";
        background-image: url(../image/top-border-top.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    &::after{
        position: absolute;
        content: "";
        background-image: url(../image/top-border-bottom.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
}

// 共通化-ボタン
%p-index-button{
    display: flex;
    align-items: center;
    padding: 15px 110px;
    background-color: color.$c-white;
    font-family: font.$noto-sans;
    color: color.$c-base;
    font-size: 24px;
    font-weight: bold;
    margin-right: 0;
    margin-left: auto;
    position: relative;

    transition: .1s all;

    &:hover{
        color: color.$c-white;

        &::before{
            background-color: color.$c-white;
        }
    }

    &::before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 999px;
        right: 22px;
    }

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: calc(22px);
        border-style: solid;
        border-color: transparent transparent transparent color.$c-white;
        border-width: 6px 10px 6px 8px;
        z-index: 1;
    }
}

// MV
.p-index-mv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../image/top-mv-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1267/665;

    &__heading{
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.92);
        padding: 0 1em 0 .5em;
        font-size: 80px;
        font-weight: bold;
        color: color.$c-base;
        line-height: 1.2;
        margin-left: 57px;

        &-first{
            color: color.$c-gray;
            margin-bottom: 12px;

            &::first-letter{
                color: color.$c-base;
            }
        }

        &-last{
            color: color.$c-base;
            margin-bottom: 125px;

            &::first-letter{
                color: color.$c-blue-lighter;
            }
        }
    }
}

// MASSAGE
.p-index-message{
    @extend %p-index-section;

    margin-top: 80px;
    margin-bottom: 100px;

    &__copy{
        font-family: font.$noto-sans;
        font-size: 42px;
        font-weight: bold;
        padding-right: .5em;
        margin-top: 65px;
        margin-bottom: 90px;
        width: fit-content;
        line-height: 1.5;
        background-image: linear-gradient(rgba(0 0 0/0) 70%, color.$c-blue-lighter 0%);
    }

    &__text{
        font-family: font.$noto-sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 2.1;
        margin-left: 20px;
        padding-bottom: 170px;
    }
}

// SKILL
.p-index-skill{
    @extend %p-index-section;
    
    margin-top: 100px;
    margin-bottom: 100px;

    &__container{
        margin-top: 60px;
        padding-bottom: 200px;
    }

    &__image{
        width: 38%;
        object-fit: cover;
    }

    &__card{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-right: 20px;
        margin-bottom: 145px;

        &:last-child{
            margin-bottom: unset;
        }

        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-heading{
            font-family: font.$noto-sans;
            font-size: 42px;
            font-weight: bold;
            line-height: 1.25;
            background-image: linear-gradient(rgba(0 0 0/0) 70%, color.$c-yellow 0%);
        }

        &-text{
            font-family: font.$noto-sans;
            line-height: 1.78;
            letter-spacing: .01em;
            text-align: justify;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }

    &__tool{
        background-color: color.$c-white;
        color: color.$c-base;
        font-family: font.$noto-sans;
        font-weight: bold;
        padding: 25px 70px 35px 55px;
        border-radius: 10px;
        letter-spacing: .01em;

        &-heading{
            margin-bottom: 15px;
            position: relative;

            &::before{
                position: absolute;
                content: "";
                border-radius: 999px;
                background-color: color.$c-yellow;
                width: 10px;
                height: 10px;
                top: 50%;
                left: -18px;
                transform: translateY(-50%);
            }
        }
    }
}

// WORKS
.p-index-works{
    @extend %p-index-section;
    
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 90px;

    &__inner{
        margin-top: 65px;
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    &__card{
        width: 44%;
        position: relative;
        padding-bottom: 60px;
        margin-bottom: 85px;

        &-thumbnail{
            width: 100%;
            object-fit: contain;
            transition: .3s transform;

            &:hover{
                transform: scale(1.05);
            }
        }

        &-heading{
            font-family: font.$noto-sans;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: .02em;
            margin-top: 12px;
            padding-right: .7em;
            line-height: 1.6;
            background-image: linear-gradient(rgba(0 0 0/0) 72%, color.$c-red 0%);
            width: fit-content
        }
    }

    &__read-more{
        position: absolute;
        font-family: font.$noto-sans;
        font-size: 20px;
        font-weight: 500;
        bottom: 0;
        right: 0;
        line-height: 1.5;
        padding: 0 1.2em 0 .5em;
        border-bottom: 2px solid color.$c-white;
        transition: .3s opacity;

        &:hover{
            opacity: .6;
        }

        &::after{
            position: absolute;
            content: "";
            border-bottom: 2px solid color.$c-white;
            width: 10px;
            bottom: 0;
            right: -8px;
            transform: rotate(45deg) translateY(4px) translateX(-50%);
        }
    }

    &__button-link{
        @extend %p-index-button;

        &--red{
            &:hover{
                background-color: color.$c-red;

                &::after{
                    border-color: transparent transparent transparent color.$c-red;
                }
            }

            &::before{
                background-color: color.$c-red;
            }
        }
    }
}

// ABOUT
.p-index-about{
    @extend %p-index-section;
    
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 90px;

    &__card{
        display: flex;
        justify-content: space-between;
        width: 78%;
        margin: 0 auto;
        margin-top: 65px;
        margin-bottom: 50px;

        &-image{
            width: 35%;
            object-fit: contain;
        }

        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-heading{
            font-size: 62px;
            line-height: 1.2;
            padding-right: .5em;
            letter-spacing: .01em;
            font-weight: bold;background-image: linear-gradient(rgba(0 0 0/0) 75%, color.$c-green 50%);
        }

        &-text{
            font-family: font.$noto-sans;
            font-size: 20px;
            letter-spacing: .02em;
            line-height: 1.9;
        }
    }

    &__button-link{
        @extend %p-index-button;

        &--green{
            &:hover{
                background-color: color.$c-green;

                &::after{
                    border-color: transparent transparent transparent color.$c-green;
                }
            }

            &::before{
                background-color: color.$c-green;
            }
        }
    }
}