@use "../../fundation/font";
@use "../../fundation/color";

@forward "works";
@forward "about";

// 共通化パーツ
// 共通化-セクション
%p-index-section{
    position: relative;
    padding-top: clamp(40px,5.1vw,70px);

    &::before{
        position: absolute;
        content: "";
        background-image: url(../image/top-border-top.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: -1;
    }

    &::after{
        position: absolute;
        content: "";
        background-image: url(../image/top-border-bottom.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: -1;
    }
}

// 共通化-ボタン
%p-index-button{
    display: flex;
    align-items: center;
    padding: 0.625em 4.6em;
    background-color: color.$c-white;
    font-family: font.$noto-sans;
    color: color.$c-base;
    font-size: clamp(18px,1.8vw,24px);
    font-weight: bold;
    margin-right: 0;
    margin-left: auto;
    position: relative;

    transition: .1s all;

    &:hover{
        color: color.$c-white;

        &::before{
            background-color: color.$c-white;
        }
    }

    &::before{
        position: absolute;
        content: "";
        width: clamp(26px,2.5vw,30px);
        height: clamp(26px,2.5vw,30px);
        border-radius: 999px;
        right: 22px;
    }

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: calc(22px);
        border-style: solid;
        border-color: transparent transparent transparent color.$c-white;
        border-width: clamp(5px,.9vw,6px) clamp(8px,.9vw,10px) clamp(5px,.9vw,6px) clamp(7px,1vw,8px);
        z-index: 1;
    }
}

// MV
.p-index-mv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../image/top-mv-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1267/665;

    &__heading{
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.92);
        padding: 0 1em 0 .5em;
        font-size: 5.5vw;
        font-weight: bold;
        color: color.$c-base;
        line-height: 1.2;
        margin-left: 57px;

        &-first{
            color: color.$c-gray;
            margin-bottom: 12px;

            &::first-letter{
                color: color.$c-base;
            }
        }

        &-last{
            color: color.$c-base;
            margin-bottom: clamp(40px,8vw,125px);

            &::first-letter{
                color: color.$c-blue-lighter;
            }
        }
    }
}

// MASSAGE
.p-index-message{
    @extend %p-index-section;

    margin-top: clamp(60px,5.7vw,80px);
    margin-bottom: clamp(55px,7.2vw,100px);

    &__copy{
        font-family: font.$noto-sans;
        font-size: clamp(26px,4vw,42px);
        font-weight: bold;
        padding-right: .5em;
        margin-top: clamp(30px,4.7vw,65px);
        margin-bottom: clamp(60px,6.5vw,90px);
        width: fit-content;
        line-height: 1.5;
        background-image: linear-gradient(rgba(0 0 0/0) 70%, color.$c-blue-lighter 0%);
    }

    &__text{
        font-family: font.$noto-sans;
        font-size: clamp(16px,1.8vw,22px);
        font-weight: 400;
        line-height: 2.1;
        margin-left: clamp(10px,1.5vw,20px);
        padding-bottom: clamp(80px,12.2vw,170px);
    }
}

// SKILL
.p-index-skill{
    @extend %p-index-section;

    margin-bottom: clamp(55px,7.2vw,100px);

    &__container{
        margin-top: clamp(20px,4.3vw,60px);
        padding-bottom: clamp(120px,14.3vw,200px);
    }

    &__image{
        width: 38%;
        object-fit: cover;
    }

    &__card{
        display: flex;
        justify-content: space-between;
        gap: clamp(20px,3.6vw,50px);
        padding-right: 20px;
        margin-bottom: clamp(60px,10.4vw,145px);

        &:last-child{
            margin-bottom: unset;
        }

        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-heading{
            font-family: font.$noto-sans;
            font-size: clamp(32px,3.2vw,42px);
            font-weight: bold;
            line-height: 1.25;
            background-image: linear-gradient(rgba(0 0 0/0) 70%, color.$c-yellow 0%);
        }

        &-text{
            font-family: font.$noto-sans;
            line-height: 1.78;
            letter-spacing: .01em;
            text-align: justify;
            margin-top: clamp(18px,2.5vw,35px);
            margin-bottom: clamp(18px,2.5vw,35px);
            font-size: clamp(14px,1.3vw,18px);
        }
    }

    &__tool{
        background-color: color.$c-white;
        color: color.$c-base;
        font-family: font.$noto-sans;
        font-weight: bold;
        padding: clamp(16px,1.8vw,25px) clamp(20px,3.6vw,50px) clamp(16px, 2.2vw, 30px) clamp(20px,3.6vw,50px);
        border-radius: 10px;
        letter-spacing: .01em;
        font-size: clamp(14px,1.3vw,18px);

        &-heading{
            margin-bottom: 15px;
            position: relative;
            margin: 0 auto;

            &::before{
                position: absolute;
                content: "";
                border-radius: 999px;
                background-color: color.$c-yellow;
                width: 10px;
                height: 10px;
                top: 50%;
                left: clamp(-18px,-1.25vw,-13px);
                transform: translateY(-50%);
            }
        }
    }
}

// WORKS
.p-index-works{
    @extend %p-index-section;
    
    margin-bottom: clamp(55px,7.2vw,100px);
    padding-bottom: clamp(45px,6.5vw,90px);

    &__inner{
        margin-top: clamp(20px, 4.3vw, 60px);
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        min-width: 688px;
    }

    &__card{
        width: 44%;
        position: relative;
        padding-bottom: clamp(45px,4.3vw,60px);
        margin-bottom: clamp(48px,6.1vw,85px);
        min-width: 320px;

        &-thumbnail{
            width: 100%;
            object-fit: contain;
            transition: .3s transform;

            &:hover{
                transform: scale(1.05);
            }
        }

        &-heading{
            font-family: font.$noto-sans;
            font-size: clamp(22px,2vw,28px);
            font-weight: bold;
            letter-spacing: .02em;
            margin-top: 12px;
            padding-right: .7em;
            line-height: 1.6;
            background-image: linear-gradient(rgba(0 0 0/0) 72%, color.$c-red 0%);
            width: fit-content
        }
    }

    &__read-more{
        position: absolute;
        font-family: font.$noto-sans;
        font-size: clamp(16px,1.5vw,20px);
        font-weight: 500;
        bottom: 0;
        right: 0;
        line-height: 1.5;
        padding: 0 1.2em 0 .5em;
        border-bottom: 2px solid color.$c-white;
        transition: .3s opacity;

        &:hover{
            opacity: .6;
        }

        &::after{
            position: absolute;
            content: "";
            border-bottom: 2px solid color.$c-white;
            width: 10px;
            bottom: 0;
            right: -8px;
            transform: rotate(45deg) translateY(4px) translateX(-50%);
        }
    }

    &__button-link{
        @extend %p-index-button;

        &--red{
            &:hover{
                background-color: color.$c-red;

                &::after{
                    border-color: transparent transparent transparent color.$c-red;
                }
            }

            &::before{
                background-color: color.$c-red;
            }
        }
    }
}

// ABOUT
.p-index-about{
    @extend %p-index-section;
    
    margin-bottom: clamp(140px,14.3vw,200px);
    padding-bottom: clamp(45px,6.5vw,90px);

    &__card{
        display: flex;
        justify-content: space-between;
        width: clamp(640px,68.5vw,960px);
        margin: 0 auto;
        margin-top: clamp(35px,4.7vw,65px);
        margin-bottom: clamp(30px,3.6vw,50px);
        min-width: 648px;
        gap: 40px;

        &-image{
            width: 35%;
            object-fit: contain;
        }

        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-heading{
            font-size: clamp(40px,4.5vw,62px);
            line-height: 1.2;
            padding-right: .5em;
            letter-spacing: .01em;
            font-weight: bold;
            background-image: linear-gradient(rgba(0 0 0/0) 75%, color.$c-green 50%);
        }

        &-text{
            font-family: font.$noto-sans;
            white-space: nowrap;
            font-size: clamp(14px,1.5vw,20px);
            letter-spacing: .02em;
            line-height: 1.9;
        }
    }

    &__button-link{
        @extend %p-index-button;

        &--green{
            &:hover{
                background-color: color.$c-green;

                &::after{
                    border-color: transparent transparent transparent color.$c-green;
                }
            }

            &::before{
                background-color: color.$c-green;
            }
        }
    }
}