@use "../fundation/font";
@use "../fundation/color";
@use "../fundation/mixin";

.l-footer{
    width: 100%;
    background-color: color.$c-white;
    padding: .6em 0;

    @include mixin.mq() {
        padding: .3em 0;
    }

    &__copylight{
        font-family: font.$noto-sans;
        font-size: clamp(14px,1.3vw,18px);
        font-weight: bold;
        text-align: center;
        color: color.$c-base;

        @include mixin.mq() {
            font-size: min(3.2vw,14px);
        }
    }
}

.l-button-scroll{
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    width: min(8.8vw,80px);
    height: min(8.8vw,80px);

    @include mixin.mq() {
        width: min(15vw,70px);
        height: min(15vw,70px);
    }

}