@use "../fundation/color";
@use "../fundation/font";


.l-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: sticky;
    top: 0;
    background-color: color.$c-base;
    z-index: 999;

    &__icon{
        font-size: clamp(32px,3.6vw,46px);
        font-weight: bold;
        letter-spacing: .01em;

        &:hover{
            opacity: 0.6;
            transition: .3s opacity;
        }
    }

    &__list{
        display: flex;
        padding: clamp(30px,4vw,50px) 0 clamp(20px,3vw,40px);
        gap: clamp(40px,6vw,80px);
        line-height: 1;
    }

    &__link{
        &:hover{
            color: color.$c-yellow;
            transition: .3s color;
        }

    }

    &__item{
        text-align: center;
    }

    &__item-english{
        font-size: clamp(16px,2vw,22px);
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__item-japanese{
        font-family: font.$noto-sans;
        font-weight: 500;
        font-size: clamp(12px,1.2vw,14px);
    }
}