@use "../fundation/color";
@use "../fundation/mixin";

.l-wrapper{
    width: 88%;
    margin: 0 auto;
    min-width: 674px;

    @include mixin.mq() {
        width: 93%;
    }
}

.l-wrapper-sm{
    width: 74%;
    margin: 0 auto;
    min-width: 620px;
}

.l-text__blue-lighter{
    color: color.$c-blue-lighter;
}

.l-text__yellow{
    color: color.$c-yellow;
}

.l-text__blue-darker{
    color: color.$c-blue-darker;
}

.flex{
    @include mixin.mq() {
        flex-direction: column;
    }
}